.user__edit-button {
  padding: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  background-image: url(../../../images/profile/edit-button.svg);
  background-size: 7px 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: opacity 1s ease;
  cursor: pointer;
}

.user__edit-button:hover {
  opacity: .6;
}

@media (min-width: 768px) {
  .user__edit-button {
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
  }
}