.user__avatar-overlay {
    position: relative;
}

.user__avatar-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: #000;
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s ease;
}

.user__avatar-overlay:hover:before {
    opacity: .8;
}

.user__avatar-overlay:after {
    content: '';
    position: absolute;
    top: 47px;
    left: 47px;
    width: 26px;
    height: 26px;
    background-image: url(../../../images/profile/edit-profile-pen.svg);
    opacity: 0;
}


.user__avatar-overlay:hover:after {
    opacity: 1;
    transition: opacity .5s ease;
}