.user {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  width: 282px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .user {
    width: 486px;
    min-height: 120px;
    flex-direction: row;
  }
}