.popup__container {
  padding: 25px 22px;
  box-sizing: border-box;
  position: relative;
  max-width: 282px;
  width: 100%;
  min-height: 322px;
  border-radius: 10px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .popup__container {
    padding: 34px 36px 37px;
    max-width: 430px;
    width: 100%;
    min-height: 330px;
  }  
}