.card__name {
  margin: 0;
  max-width: 11ch;
  min-height: 28px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}