.user__info {
  margin-left: 26px;
  min-height: 54px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
  row-gap: 6px;
  align-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .user__info {
    margin-left: 0;
    width: 336px;
    min-height: 73px;
    column-gap: 18px;
    row-gap: 5px;
    grid-template-columns: min-content 1fr;
  }
}