.user__info {
  margin-left: 30px;
  width: 217px;
  height: 54px;
  display: grid;
  grid-template-columns: 189px 1fr;
  column-gap: 10px;
  row-gap: 14px;
  align-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .user__info {
    margin-left: 0;
    width: 336px;
    height: 73px;
    column-gap: 18px;
    row-gap: 16px;
    grid-template-columns: 294px 1fr;
  }
}