.user__status {
  margin: 0;
  max-width: 40ch;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .user__status {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}